@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    
}



:root{
    --color-bg: #2e2249;
    --color-bg-oscuro: hsl(258, 36%, 11%) ;
    --color-texto: #cbe8e8; 
    --nav-fz: 22px;
    --regular: 400;
    --semibold: 600;
    --bold: 900;
}
.btn{
    border: 2px solid var(--color-terciario);
    color: var(--color-secundario);
    display: inline-block;
    padding: .5rem 2rem;
    font-weight: var(--semibold);
    letter-spacing: 2px;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-bg);
}

.contenedor{
    width: 100%;
    background-color: var(--color-bg);
}

.section{
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
}

/* EMPIEZA NAV */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--color-bg);
    height: 60px;
    position: fixed;
    top:0;
    left:50%;
    transform: translate(-50%);
    width:100%;
    z-index: 99;
    max-width: 1300px;

}

.texto-blue{
    color: var(--cyan);
}

nav ul{
    position: fixed;
    top: 60px;
    right: -100%;
    width: 50%;
    height: calc(100vh - 60px);
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
    z-index: 98;
    
}

nav ul li a{
    font-size: var(--nav-fz);
    color: var(--color-texto);
    font-weight: var(--semibold);
}

nav .nav_logo{
    font-size: var(--nav-fz);
    font-weight: var(--semibold);
    color: var(--color-texto);
    letter-spacing: 3px;
}


nav .nav_label{
    display: flex;
    align-items: center;
}

nav .nav_label img{
    width: 40px;
}

nav .nav_label .closemenu{
    display: none;
}

#toggle:checked ~ ul {
   right: 0%;
   transition: right ease-in-out .4s;
}

#toggle:checked ~ .nav_label  .openmenu{
    display: none;
}

#toggle:checked ~ .nav_label .closemenu{
    display: block;
}



@media (min-width: 768px){

    nav .nav_label img{
        display: none;
    }

    nav{
        padding: 0 20px;
    }
        
    nav ul{
        position: static;
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
        padding: 30px 0;
        
    }



    nav ul li a{
        position: relative;
        display: inline-block;
    }

    nav ul li a::after{
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: var(--color-texto);
        bottom: -5px;
        left:0;
        transition: ease .3s;

    }

    nav ul li a:hover::after{
        transition: ease .3s;
        width: 100%;
    }

    nav ul li a:hover{
        opacity: 70%;
    }

}

@media (min-width: 992px){
    nav{
        padding: 0;
    }
}

/****** TERMINA NAV MENU  */



/******* SECCION HERO  */

#hero{
    color: var(--color-texto);
    padding: 250px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__card{
    width: min(80%,350px);
    min-height: 300px;
    background-color: var(--color-bg-oscuro);
    display: flex;
    gap: 20px;
    padding: 140px 0 30px 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.card__img{
    width: 200px;
    height: 200px;
    outline: 8px solid var(--color-texto);
    background-image: url('../Assets/myphotorecort.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    box-shadow: 0px 0px 0px 30px rgb( 0 0 0 / 15%);

}
.card__text{
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
.card__redes{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
}

.card__text,
.card__redes{
    width: 100%;
}

.card__redes  img {
    width: 30px;
}

.card__name{
    font-weight: var(--bold);
    font-size: clamp(1.7rem,4vw,2.2rem);
    text-transform: uppercase;
    margin-bottom: 4px;
   color: var(--cyan);
}

.card__position{
    font-weight: var(--semibold);

}




@media(min-width: 700px){
    
#hero{
    height: 60vh;
    padding: 400px 0 300px 0;
}

}

@media(min-width: 768px){
    
    #hero{
        background: linear-gradient(
            rgb(0 0 0 /80%),
            rgb(0 0 0 /80%)

        ),url('../Assets/fondo-hero-min.jpg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

}


/* BENEFICIOS */

.beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 2rem;

}

.beneficios__title{
    color: var(--color-texto);
    font-size: clamp(2.5rem,4vw,2.5rem);
}

.beneficios__container-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,15rem),1fr));
    grid-auto-rows: 300px;
    gap: 3rem;
    justify-content: center;
    padding: 0px 20px;
}
.beneficios__card{
    background:url('../Assets/ventas.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.beneficios__container-cards .beneficios__card:nth-child(2){
    background-image: url('../Assets/DISTANCIA.jpg');
}

.beneficios__container-cards .beneficios__card:nth-child(3){
    background-image: url('../Assets/winner-min.jpg');
}

.card__content{

    width: 100%;
    height: 100%;
    background-color: var(--color-bg-oscuro);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.card__title{
    color: var(--cyan);
    font-weight: var(--bold);
    font-size: clamp(1.8rem,4vw,2rem);
}

.card__paragraph{
    width: 90%;
    line-height: 1.4;
}

@media(min-width: 810px){
    .beneficios__card{
        width: 100%;
    }

    .beneficios__container-cards{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,150px);
    }

    .beneficios__container-cards .beneficios__card:nth-child(1){
        grid-area: 1/1/3/-1;
    }

    .beneficios__container-cards .beneficios__card:nth-child(2){
        grid-area: 3/1/-1/3;
    }
    
    .beneficios__container-cards .beneficios__card:nth-child(3){
        grid-area: 3/3/-1/-1;
    }

}

@media(min-width: 992px){
    .beneficios__card:hover{
        transform: scale(1.1);
        transition: ease .3s;
        cursor: pointer;
    }

    
    .beneficios__container-cards{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 300px;
    }

    .beneficios__container-cards .beneficios__card:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/-1;
    }

    .beneficios__container-cards .beneficios__card:nth-child(2){
       grid-column: 2/3;
       grid-row: 1/-1;
    }
    
    .beneficios__container-cards .beneficios__card:nth-child(3){
       grid-column: 3/-1;
       grid-row: 1/-1;
    }
}


/* PROYECTOS */

.picture__img{
    max-width: 100%;
}

#proyectos{
    padding: 70px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.proyectos__header{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.proyectos__texts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.proyectos__title{
    font-size:  2rem;
    font-weight: var(--bold);
    letter-spacing: 3px;
}

.proyectos__paragraph{
    line-height: 1.2;
    font-weight: var(--semibold);
    opacity: 90%;
    width: 80%;
    max-width: 400px;
}
.proyectos__btn{
    display: none;
}

.card__picture{
    max-width: 100%;
    width: 100%;
}
/* card  */


.proyectos__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: repeat(4,300px) max-content;
    gap: 1.5rem;
    place-content: center;
    padding: 0 30px;
}

.card{
    border: 2px solid var(--cyan);
    padding: 10px;
    padding-bottom: 20px;
    background-color:  hsl(258, 36%, 11%);
    width: 95%;
    height: 100%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,max-content);
    row-gap: 1rem;
    margin: 0 auto;
}



.proyectos__cards .card__title{
    color: var(--color-secundario);
}

.card__texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
   
}
.btn.card__btn{
    border: none;
    padding: 0;
    color: var(--cyan);
    margin-left: auto;
    font-size: 13px;
}

.btn.proyectos__btn-mobile{
    background-color: var(--color-bg-oscuro);
}

@media (min-width: 800px){


    .proyectos__title{
        font-size: 1.6rem;
    }
        
    .proyectos__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        max-width: 90%;
        margin-bottom:4rem;
    }
  

    .proyectos__texts{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        text-align: start;
        flex: 1 1 100%;
    }

    .btn.proyectos__btn{
       
        display: block;
        text-align: center;
        padding: 10px 20px;
        border: none;
        background-color: var(--color-bg-oscuro);
        font-weight: 700;
        flex: 1 1 40%;
    }

    .btn.proyectos__btn-mobile{
        display: none;
    }

    .card{
        padding: 10px;
    }


}

@media(min-width: 992px){
 
    .proyectos__header{
        justify-content: space-around;
    }
  

    .proyectos__cards{
        grid-template-columns: repeat(3,350px);
       grid-template-rows: repeat(6,1fr);
        padding: 0;
    }

    .proyectos__cards .card:nth-child(1){
        grid-area: 1/2/4/3;
    }
    .proyectos__cards .card:nth-child(2){
        grid-area: 2/1/5/2;
    }
    .proyectos__cards .card:nth-child(3){
        grid-area: 2/3/5/-1 ;
    }
    .proyectos__cards .card:nth-child(4){
        grid-area: 4/2/-1/3 ;
    }

    .card:hover{
        cursor: pointer;
    }

    .card:hover .btn.card__btn{
        color: var(--color-secundario);
    }

    .btn.proyectos__btn{
        flex: 1 1 20%;
    }

    .btn.card__btn{
        font-size: 1.2rem;
    }

    .btn.card__btn:hover{
        opacity: 80%;
        font-size: 1rem;
    }
    .proyectos__texts{
        flex: 1 1 80%;
    }
}