@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    
}



:root{
    --color-primario: #0f0f10; 
    --color-secundario: #f3efef;
    --color-terciario: #464646;
    --cyan: #5b63b7;
    --azul-2: #161e35;
    --nav-fz: 22px;
    --regular: 400;
    --semibold: 600;
    --bold: 900;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-primario);
}

.contenedor{
    width: 100%;
    max-width: 1300px;
    background-color: var(--color-primario);
    margin: 0 auto;
}

.section{
     width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

/* EMPIEZA NAV */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: var(--color-primario);
    height: 60px;
    position: fixed;
    top:0;
    left:50%;
    transform: translate(-50%);
    width:100%;
    z-index: 99;
    max-width: 1200px;

}

.texto-blue{
    color: var(--cyan);
}

nav ul{
    position: fixed;
    top: 60px;
    right: -100%;
    width: 50%;
    height: calc(100vh - 60px);
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
    z-index: 98;
    
}

nav ul li a{
    font-size: var(--nav-fz);
    color: var(--color-secundario);
    font-weight: var(--semibold);
}

nav .nav_logo{
    font-size: var(--nav-fz);
    font-weight: var(--bold);
    color: var(--color-secundario);
    letter-spacing: 3px;
}


nav .nav_label{
    display: flex;
    align-items: center;
}

nav .nav_label img{
    width: 40px;
}

nav .nav_label .closemenu{
    display: none;
}

#toggle:checked ~ ul {
   right: 0%;
   transition: right ease-in-out .4s;
}

#toggle:checked ~ .nav_label  .openmenu{
    display: none;
}

#toggle:checked ~ .nav_label .closemenu{
    display: block;
}

@media (min-width: 992px){

nav{
    padding: 0;
}
    
nav ul{
    position: static;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 30px 0;
    
}


nav .nav_label img{
    display: none;
}

nav ul li a{
    position: relative;
    display: inline-block;
}

nav ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--cyan);
    bottom: -5px;
    left:0;
    transition: ease .3s;

}

nav ul li a:hover::after{
    transition: ease .3s;
    width: 100%;
}

nav ul li a:hover{
    color: var(--cyan);
}

}

/****** TERMINA NAV MENU  */



/******* SECCION HERO  */

#hero{
    width: 100%;
    max-width: 1200px;
    color: var(--color-terciario);
    padding: 250px 0 100px 0;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero__card{
    width: min(80%,350px);
    min-height: 300px;
    background-color: var(--color-secundario);
    display: flex;
    gap: 20px;
    padding: 140px 0 30px 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 10px 0px 3px var(--cyan);
}

.card__img{
    width: 200px;
    height: 200px;
    outline: 8px solid var(--color-terciario);
    background-image: url('../Assets/myphotorecort.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    box-shadow: 0px 0px 0px 30px rgb( 0 0 0 / 15%);

}
.card__text{
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
.card__redes{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 10px;
}

.card__text,
.card__redes{
    width: 100%;
}

.card__redes  img {
    width: 40px;
}

.card__name{
    font-weight: var(--bold);
    font-size: clamp(2rem,4vw,2.2rem);
    text-transform: uppercase;
    margin-bottom: 4px;
   color: var(--cyan);
}

.card__position{
    font-weight: var(--semibold);
   color: var(--color-primario);

}




@media(min-width: 700px){
    
#hero{
    height: 60vh;
    padding: 400px 0 300px 0;
}

}

@media(min-width: 992px){
    
    #hero{
        background: linear-gradient(
            rgb(0 0 0 /80%),
            rgb(0 0 0 /80%)

        ),url('../Assets/fondo-hero-min.jpg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .card__redes  img {
        width: 50px;
    }

}


/* BENEFICIOS */

.beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 2rem;

}

.beneficios__title{
    color: var(--color-secundario);
    font-size: clamp(2rem,4vw,2.5rem);
}

.beneficios__container-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,15rem),1fr));
    grid-auto-rows: 300px;
    gap: 3rem;
    justify-content: center;
    padding: 0px 20px;
}
.beneficios__card{
    background:url('../Assets/ventas.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.beneficios__container-cards .beneficios__card:nth-child(2){
    background-image: url('../Assets/DISTANCIA.jpg');
}

.beneficios__container-cards .beneficios__card:nth-child(3){
    background-image: url('../Assets/winner-min.jpg');
}

.card__content{

    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.card__title{
    color: var(--cyan);
    font-weight: var(--bold);
    font-size: clamp(1.8rem,4vw,2rem);
}

.card__paragraph{
    width: 90%;
    line-height: 1.4;
}

@media(min-width: 810px){
    .beneficios__card{
        width: 100%;
    }
}

@media(min-width: 992px){
    .beneficios__card:hover{
        transform: scale(1.1);
        transition: ease .3s;
        box-shadow: 0px 0px 5px white;
        cursor: pointer;
    }
}